<div>
    <h2>Events</h2>

    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newEventModal">
        + Create New Event
    </button>

    <div class="modal fade" id="newEventModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Create new event</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <form action="/newEvent" method="post">
                    <div class="modal-body">

                        <div class="form-group">
                            <label for="titleInput">Title</label>
                            <input type="text" class="form-control" id="titleInput" name="title"
                                placeholder="Name your event">
                        </div>


                        <div class="form-group">
                            <label for="desciptionInput">Description</label>
                            <textarea class="form-control" id="desciptionInput" rows="4" name="description"
                                placeholder="Let people know what you're planning"></textarea>
                        </div>

                        <div class="form-group">
                            <label for="dateInput">Date and Time</label>
                            <input type="datetime-local" id="dateInput" name="date">
                        </div>


                        <div class="form-group">
                            <label for="durationInput">Duration</label>
                            <select class="form-select" name="duration" aria-label="Default select example">
                                <option selected>Duration of event</option>
                                <option value="1" name="duration">1 hr</option>
                                <option value="1.5" name="duration">1.5 hr</option>
                                <option value="2" name="duration">2 hr</option>
                                <option value="2.5" name="duration">2.5 hr</option>
                                <option value="3" name="duration">3 hr</option>
                                <option value="3.5" name="duration">3.5 hr</option>
                                <option value="4" name="duration">4 hr</option>
                                <option value="4.5" name="duration">4.5 hr</option>
                                <option value="5" name="duration">5 hr</option>
                                <option value="5.5" name="duration">5.5 hr</option>
                                <option value="6" name="duration">6 hr</option>
                                <option value="6.5" name="duration">6.5 hr</option>
                                <option value="7" name="duration">7 hr</option>
                              </select>
                              
                        </div>


                        <div class="form-group">
                            <label for="locationInput_name">Location Name</label>
                            <input type="text" id="locationInput_name" name="locationName">
                        </div>
                        <div class="form-group">
                            <label for="locationInput_address">Location Address</label>
                            <input type="text" id="locationInput_address" name="locationAddress">
                        </div>
                        <div class="form-group">
                            <label for="locationInput_postcode">Location Postcode</label>
                            <input type="text" id="locationInput_postcode" name="locationPostcode">
                        </div>

                        <div class="form-group">
                            <label for="eventLive">Make event live on home page?</label>
                            <input type="radio" id="eventLive" name="eventLive" value="true"> Yes
                            <input type="radio" id="eventLive" name="eventLive" value="false"> No
                        </div>

                        <div class="form-group">
                            <label for="eventLive">Background Colour</label>
                            <input type="text" id="backgroundColour" name="backgroundColour" value="true"> 
                            
                        </div>


                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" >Create Event</button>
                    </div>
                </form>
                </form>
            </div>
        </div>
    </div>


    <div class="container">

        <ul>
            <% eventsList.forEach(details=> { %>
                <li>
                    <a href="/event/<%= details._id %>"><%= details.title %> </a>
                </li>
                <% }) %>
        </ul>

    </div>
</div>