
.body_landing {
    animation: scroll 140s linear infinite;
    background: url("https://images.unsplash.com/photo-1465146633011-14f8e0781093?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3450&q=80"), #111111;
    color: white;
    width: 100%;
    background-size: 100% auto;
   
    
}

@keyframes scroll {
   100%{
    background-position:0px -3000px;
  }
}

@media (prefers-reduced-motion) {
  .body_landing {
    animation: scroll 200s linear infinite;
  }
}


.landingEvents{
    text-align: center;
    margin-top: 100px;
}

@media (max-width: 768px){
   
}

@media (min-width: 769px){
    .landingEvents{
        width: 600px;
    }
}

#landingQuestion{
    display: none;
    margin-top: 50px;
}

#landingEventsList{
    display:none;
    margin-top: 50px;
}

#upcomingEventsBtn{
    margin-top: 50px;
}

.invitedResponse{
    font-size: larger;
    margin: 3px 0px;
}

@media (max-width: 768px){
    .invitedResponse{
        width: 200px;
    }
    
}


.landingAnswer{
    margin-top: 50px;
}

#landingAnswerA{
    display:none;  
}
#landingAnswerB{
    display:none;  
}#landingAnswerC{
    display:none;  
}