@import "landingPage.css";
@import "eventPage.css";

body {background-color: #f1e25e;}

.navbar {background-color:#f1e25e  !important;}

.homeIcon{
    position: relative;
    left:10px;
}

/*
.outline {
    border: 1px black solid;
}
*/

