@import "landingPage.css";
@import "eventPage.css";

body {background-color: white;}

.navbar {background-color:white  !important;}

.homeIcon{
    position: relative;
    left:10px;
}

/*
.outline {
    border: 1px black solid;
}
*/

