body {background-color: #f1e25e;}

.outline {
    /*border: 1px black solid;*/
}

.outline-ind{
    border: 1px black solid;
}

.oddRow{
    display: flex;
    align-items: center;
    
}

.attendingBox {
    border-width: 1px 0px;
    border-color: gray;
    border-style: solid;
    margin-bottom: 20px;
}

.atttendingItem{
    width:100%;
    height: 100%;
}
.attendingNum{
    font-size: larger;
    color: green;
    font-weight: bold;
}
.attendingtext{
    font-size: medium;
    
}